
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Wiki UI Test" parallel="tests" thread-count="2">
    <test name="Login" >
        <classes>
            <class name="org.wikipedia.test.UITest" />
        </classes>
    </test>

    <test name="LoginProvider" >
        <classes>
            <class name="org.wikipedia.test.LoginParam" />
        </classes>
    </test>

</suite>
